/* SVG per RITORNO nella nav */
.nav-link-svg {
    display: flex;
    align-items: center;
}

.nav-ritorno-svg {
    width: 90px;
    height: 20px;
    transition: all 0.3s ease;
}

.nav-link-svg:hover .nav-ritorno-svg {
    transform: scale(1.05);
}

/* SVG per RITORNO nel menu mobile */
.mobile-nav-link-svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-ritorno-svg {
    width: 150px;
    height: 30px;
    transition: all 0.3s ease;
}

.mobile-nav-link-svg:hover .mobile-ritorno-svg {
    transform: scale(1.05);
}